aiofiles==0.6.0
alembic==1.5.2
altgraph==0.17
apipkg==1.5
asgiref==3.3.0
atomicwrites==1.4.0
attrs==20.3.0
auto-py-to-exe==2.7.8
bcrypt==3.2.0
beautifulsoup4==4.9.3
bottle==0.12.18
bottle-websocket==0.2.9
cached-property==1.5.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
conda==4.8.3
conda-package-handling==1.7.0
cryptography==3.2.1
cx-Freeze==6.3
distro==1.5.0
Django==3.1.3
docker==4.4.1
docker-compose==1.28.2
dockerpty==0.4.1
docopt==0.6.2
Eel==0.12.4
execnet==1.8.0
fastapi==0.61.2
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
h11==0.9.0
httpcore==0.11.1
httptools==0.1.1
httpx==0.15.4
idna==2.9
importlib-metadata==2.0.0
iniconfig==1.1.1
jsonschema==3.2.0
jwt==1.1.0
Mako==1.1.4
MarkupSafe==1.1.1
marshmallow==3.10.0
menuinst==1.4.16
mocker==1.1.1
more-itertools==8.6.0
multidict==5.0.0
packaging==20.9
paramiko==2.7.2
pefile==2019.4.18
pep8==1.7.1
pluggy==0.13.1
pocker==0.3.2
postgres==3.0.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
psycopg2-pool==1.1
py==1.10.0
pycosat==0.6.3
pycparser==2.20
pydantic==1.7.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
PyJWT==2.0.1
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.2.2
pytest-asyncio==0.14.0
pytest-cache==1.0
pytest-mock==3.5.1
pytest-pep8==1.0.6
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
pytz==2020.4
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.23.0
rfc3986==1.4.0
ruamel-yaml==0.15.87
sanic==20.9.1
six==1.14.0
sniffio==1.2.0
soupsieve==2.0.1
SQLAlchemy==1.3.22
sqlparse==0.4.1
starlette==0.13.6
texttable==1.6.3
toml==0.10.2
tqdm==4.46.0
typing-extensions==3.7.4.3
urllib3==1.25.8
uvicorn==0.12.2
websocket-client==0.57.0
websockets==8.1
whichcraft==0.6.1
win-inet-pton==1.1.0
wincertstore==0.2
xlrd==1.2.0
zipp==3.3.1
zope.event==4.5.0
zope.interface==5.1.2
